In [ ]:
#Cleaning data
#I am currently studying AI. My class is called OPA24.
raw_data = ["   i ", "AM ", "    CURRENTLY ", "TEACHING", "ai.   ", "mY", "   CLASS", "IS", "CALLED", "opa21."]

#remove leading and trailing whitespaces
cleaned_data = [word.strip() for word in raw_data]
#combine the words into a sentence
text = " ".join(cleaned_data)
#replace the words
text = text.replace("TEACHING", "STUDYING")
text = text.replace("opa21", "opa24")
#swap to capital letters
text = text.swapcase()
print(text)

I am currently studying AI. My class is called OPA24.

In [ ]:
# Hire IT
# Create a list of dictionaries to represent this data, where each dictionary represents each row.
employee = [{"id": 0, "name": "Alice", "department": "HR", "Salary": 31000}, 
            {"id": 1, "name": "Bob", "department": "IT", "Salary": 41000}, 
            {"id": 2, "name": "Charlie", "department": "HR", "Salary": 28000}]
print(employee)

[{'id': 0, 'name': 'Alice', 'department': 'HR', 'Salary': 31000}, {'id': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}, {'id': 2, 'name': 'Charlie', 'department': 'HR', 'Salary': 28000}]

In [ ]:
# Extract the second record in this dataset.
second_record = employee[1] # second record is at index 1 in the list of employees
print("Second record:", second_record)

Second record: {'id': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}

In [ ]:
# Extract all rows from this dataset and print it in this format
for emp in employee: # for loop to iterate through each employee
    print(f"{emp["name"]} works in department {emp["department"]} and earns {emp["Salary"]}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [9]:
# Find out the average salary in Hire IT.
average_salary = sum(emp["Salary"] for emp in employee) / len(employee) # sum of all salaries divided by the number of employees
print(f"Average salary: {average_salary}")
# Extract all records where the department is HR.

Average salary: 33333.333333333336