In [ ]:
#Cleaning data
#I am currently studying AI. My class is called OPA24.

raw_data = ["   i ", "AM ", "    CURRENTLY ", "TEACHING", "ai.   ", "mY", "   CLASS", "IS", "CALLED", "opa21."]

#remove leading and trailing whitespaces
cleaned_data = [word.strip() for word in raw_data]
#combine the words into a sentence
text = " ".join(cleaned_data)
#replace the words
text = text.replace("TEACHING", "STUDYING")
text = text.replace("opa21", "opa24")
#swap to capital letters
text = text.swapcase()
print(text)

[{'id': 0, 'name': 'Alice', 'department': 'HR', 'Salary': 31000}, {'id': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}, {'id': 2, 'name': 'Charlie', 'department': 'HR', 'Salary': 28000}]

Second record: {'id': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

Average salary:33333.333333333336