Pandas series and dataframes

In [1]:
import pandas as pd
data = dict(INKÖP = 25, OPA = 30, JS = 30, JAVA = 27)

series_program = pd.Series(data=data)
print(series_program)

print(f"series_programs[0] -> {series_program.iloc[0]}")
print(f"series_programs[-1] -> {series_program.iloc[-1]}")

print(f"series_programs.keys() -> {series_program.keys()}")
print(f"series_program.keys()[2] -> {series_program.keys()[2]}")

INKÖP    25
OPA      30
JS       30
JAVA     27
dtype: int64
series_programs[0] -> 25
series_programs[-1] -> 27
series_programs.keys() -> Index(['INKÖP', 'OPA', 'JS', 'JAVA'], dtype='object')
series_program.keys()[2] -> JS

In [2]:
import random as rnd
rnd.seed(42)

dice_series = pd.Series([rnd.randint(1,6) for _ in range(5)])
print(dice_series)

print(f"Min value {dice_series.min()}")
print(f"Mean value {dice_series.mean()}")
print(f"Median value {dice_series.median()}")

0    6
1    1
2    1
3    6
4    3
dtype: int64
Min value 1
Mean value 3.4
Median value 3.0

In [3]:
df_programs = pd.DataFrame(series_program,columns=("Num students",))
df_programs

       Num students
INKÖP            25
OPA              30
JS               30
JAVA             27

In [4]:
students = pd.Series(dict(AI = 25, NET = 30, APP = 30, Java = 27))
language = pd.Series(dict(AI="Python", NET="C#", APP="Kotlin", Java="Java"))

df_programs = pd.DataFrame({"Students":students, "Language":language})
df_programs

      Students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [5]:
import numpy as np

df_programs = pd.DataFrame({
    "Students": np.array((25, 30, 30, 27)),
    "Language": np.array(("Python", "C#", "Kotlin", "Java"))},
    index = ["AI", ".NET", "APP", "Java"])
df_programs

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [6]:
df_programs.index

Index(['AI', '.NET', 'APP', 'Java'], dtype='object')

In [7]:
df_programs["Students"]

AI      25
.NET    30
APP     30
Java    27
Name: Students, dtype: int64

In [8]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
.NET       C#        30
APP    Kotlin        30
Java     Java        27

In [9]:
df_programs.Language

AI      Python
.NET        C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [10]:
df_programs["Language"][".NET"]

'C#'

In [11]:
print(df_programs.loc["Java"])

df_programs.loc[["Java", "APP"]]

Students      27
Language    Java
Name: Java, dtype: object

      Students Language
Java        27     Java
APP         30   Kotlin

In [12]:
df_programs.iloc[1:3]

      Students Language
.NET        30       C#
APP         30   Kotlin

In [13]:
print(df_programs["Students"] > 25)

df_over_25 = df_programs[df_programs["Students"]>25]
df_over_25

AI      False
.NET     True
APP      True
Java     True
Name: Students, dtype: bool

      Students Language
.NET        30       C#
APP         30   Kotlin
Java        27     Java