In [1]:
# list that store diffrent types of elements
fruit = [1, 2, "apple"]

In [2]:
# multipliccation of a list
b = [1, 2, 3] 
print(b)

c = b*2 # Multiply the list by 2, which repeats the list elements
print(c)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [3]:
#NumPy array 
import numpy as np

a = np.array([1,2,3]) # Creates a NumPy array with values 1, 2, and 
print(a)

d = a*2 # Multiplies each element in the array by 2
print(d)

[1 2 3]
[2 4 6]

In [4]:
#numpy has an implicit index
a[0]

np.int64(1)

In [5]:
import pandas as pd

In [6]:
series_list = pd.Series([0.25, 0.5, 0.75, 1.0])
print(series_list)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
series_list = pd.Series([0.25, 0.5, 0.75, 1.0], index=["a", "b", "c", "d"])
print(series_list)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
a = np.array([1,2,3])
series_array = pd.Series(a, index=["a", "b", "c"])
print(series_array)

a    1
b    2
c    3
dtype: int64

In [10]:
series_dict = pd.Series({"a":1, "b":2, "c":3})
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [11]:
series_dict = pd.Series({"a":1, "b":2, "c":3}, index=["a", "c"])
print(series_dict)

a    1
c    3
dtype: int64

In [12]:
print(series_dict["a"])

1

In [15]:
print(series_dict.keys())
print(list(series_dict.items()))

Index(['a', 'c'], dtype='object')
[('a', 1), ('c', 3)]

In [16]:
series_dict = pd.Series({"a":1, "b":2, "c":3})

print(series_dict["a":"b"])

print(series_dict[0:2])

a    1
b    2
dtype: int64
a    1
b    2
dtype: int64

In [17]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [18]:
print(data[1])

print(data[1:3])

a
3    b
5    c
dtype: object

In [19]:
print(data.loc[1])
print(data.loc[1:3])

print(data.iloc[1])
print(data.iloc[1:3])

a
1    a
3    b
dtype: object
b
3    b
5    c
dtype: object

Data objects in pandas - pandas dataframe

In [20]:
area_dict = {'California': 423, 'Texas': 450, 'New York': 141, 'Florida':141, 'Illinois':149}

area = pd.Series(area_dict)
area

California    423
Texas         450
New York      141
Florida       141
Illinois      149
dtype: int64

In [21]:
population_dict = {'California': 388, 'Texas': 264, 'New York': 196, 'Florida':195, 'Illinois':127}

population = pd.Series(population_dict)
population

California    388
Texas         264
New York      196
Florida       195
Illinois      127
dtype: int64

In [22]:
states = pd.DataFrame({'pop': population, 'area': area})

states

            pop  area
California  388   423
Texas       264   450
New York    196   141
Florida     195   141
Illinois    127   149

In [23]:
states.columns

Index(['pop', 'area'], dtype='object')

In [24]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [26]:
print(states['area'])

print(states.area)

California    423
Texas         450
New York      141
Florida       141
Illinois      149
Name: area, dtype: int64
California    423
Texas         450
New York      141
Florida       141
Illinois      149
Name: area, dtype: int64

In [28]:
print(states["California":"New York"])
print(states[1:4])

            pop  area
California  388   423
Texas       264   450
New York    196   141
          pop  area
Texas     264   450
New York  196   141
Florida   195   141